<!-- Project 2: Dance Portfolio -->
<!-- Add comments about a dance -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <h1><%=dance.title%></h1>
      <h3>Posted By <%=user.displayName%></h3>
        <div class="row">
          <div class="col-md-6">
            <img class="viewImg" src="<%=dance.img%>">
            <h5><%=dance.description%></h5>
          </div>

          <div class="col-md-6">
            <h3>Add Comments</h3>
            <form class="form-horizontal" action="/comments" method="post">

              <div class="form-group">
                <!-- <input type="text" name="description" id="description"> -->
                <textarea name="description" id="description" class="form-control" rows="2"></textarea>
              </div>

              <input type="submit" name="" value="Add" class="btn btn-primary">
              <a href="/dances/<%=dance.id%>">Cancel</a>
            </form>



          </div> <!-- col-md-6 -->
        </div><!-- row -->

      </div> <!-- container-fluid -->

    </div>
  </body>
</html>
