<!-- Project 2: Dance Portfolio -->
<!-- View individual dance page -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <%
      var videoLink = dance.video;
      var viewVideo = videoLink.substr(32);
    %>
  </head>
  <body>

    <% include ../partials/nav %>
    <div class="container">
    <h1><%=dance.title%></h1>
    <h3>Posted By <%=user.displayName%></h3>


      <div class="row">
        <div class="col-md-6">
          <img class="viewImg" src="<%=dance.img%>">
          <h5><%=dance.description%></h5>
        </div>

        <div class="col-md-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=viewVideo%>" frameborder="0" allowfullscreen></iframe>
          <br/><br/>
          <p><a href="<%=dance.video%>" target="_blank"><%=dance.video%></a></p>
          <br/>

          <div>
            <ul>
              <li><a href="/dances/<%=dance.id%>/like">like</a>: <%=dance.likes%> </li>
              <% if (currentUser !== 'unknown') { %>
              <li><a href="/comments/<%=dance.id%>/new">Comments</a></li>
              <% }%>
              <% if (user.id === currentUser._id) { %>
              <form class="" action="/dances/<%=dance._id%>?_method=DELETE" method="post">
              <li><input type="submit" name="" value="Delete"></li>
              </form>
              <li><a href="/dances/<%=dance.id%>/edit">Edit</a></li>
              <% } %>
            </ul>
          </div>  
        </div> <!-- col-md-6 -->
      </div><!-- row -->

    </div> <!-- container-fluid -->

  </body>
</html>
