<!-- Project 2: Dance Portfolio -->
<!-- View individual dance page -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <%
      var videoLink = dance.video;
      var viewVideo = videoLink.substr(32,11);
    %>
  </head>
  <body>

    <% include ../partials/nav %>
    <div class="container">
    <h1><%=dance.title%></h1>
    <h3>Posted By <a href="/users/<%=dancePublisher._id%>"><%=dancePublisher.displayName%></a></h3>


      <div class="row">
        <div class="col-md-6">
          <img class="viewImg" src="<%=dance.img%>">
          <br/><br/>
          <p><%=dance.description%></p>
        </div>

        <div class="col-md-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=viewVideo%>" frameborder="0" allowfullscreen></iframe>
          <br/><br/>
          <p><a href="<%=dance.video%>" target="_blank"><%=dance.video%></a></p>
          <br/>


        </div> <!-- col-md-6 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-1" >
          <a href="/dances/<%=dance.id%>/like"><img class="heart" src="../images/Heart.png" alt="like"></a> <%=dance.likes%>
        </div>
        <div class="col-md-1">
          <% if (currentUser !== 'unknown') { %>
            <a href="/comments/<%=dance.id%>/new" class="btn btn-primary">Comments</a>
          <% }%>
        </div>
        <% if (dancePublisher.id === currentUser._id) { %>
        <div class="col-md-1">
            <form class="" action="/dances/<%=dance._id%>?_method=DELETE" method="post">
              <input type="hidden" name="postedBy" value="<%=dancePublisher.id%>">
              <input type="submit" name="" value="Delete" class="btn btn-primary btn-width">
            </form>
        </div>
        <div class="col-md-1">
          <a href="/dances/<%=dance.id%>/edit" class="btn btn-primary btn-width">Edit</a>
        </div>
        <% } %>

        <div class="col-md-4"> </div>
      </div>

      <hr>
      <div class="commentsContainer">
          <ul>
            <% for (var i=0; i<dance.comments.length; i++) { %>
            <li>
             (<%=dance.comments[i].commentByName%>):
              <%=dance.comments[i].comments%>

              <div class="commentsBtn">
                <% if (currentUser !== 'unknown') {
                  if (dance.comments[i].postedBy == currentUser._id)  { %>

                <a href="/comments/<%=dance.comments[i].id%>/edit" class="btn btn-xs btn-info">Edit</a>
                <% }
                if (dance.comments[i].postedBy == currentUser._id || dancePublisher.id == currentUser._id) { %>
                <a href="/comments/<%=dance.comments[i].id%>/delete" class="btn btn-xs btn-info">Delete</a>

                <% } } %>
              </div>
              </li>
          <% } %>
          </ul>

      </div>

    </div> <!-- container-fluid -->

  </body>
</html>
